<% provide :title, t(".user_information") %>
<div class="container">
  <h1 class="title"><%= t ".user_information" %></h1>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th><%= t ".name" %></th>
          <td><%= @current_user.fullname %></th>
        </tr>
        <tr>
          <th><%= t ".email" %></th>
          <td><%= @current_user.email %></th>
        </tr>
      </tbody>
    </table>
</div>
